/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@400;700&family=Playfair+Display&family=Raleway:wght@500&display=swap');

/* Reset estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Estilo globales */
body {
    font-family: "Nunito";
    font-size: 18px;
    margin: 0 6rem;
}
p {
    color: #828282;
    margin: 1.1rem 0;
}
header, main, footer {
    /* border: 1px solid red; */
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
} 
a:visited {color:black} 
a:active {color:#FDC435;} 
a:hover {color:#FDC435;} 



/* HEADER */
header {
    font-family: "Comfortaa";
    margin: 1.5rem 0;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

nav > h2 {
    font-size: 700;
}


/* MAIN */
#presentacion {
    display: flex;
    align-items: center;
}
#presentacion > article {
    display: flex;
    flex-direction: column;
    max-width: 80vh;

}
#presentacion h2 {
    color: #FDC435;
}
#presentacion h1 {
    font-family: "Playfair Display";
    font-size: 2.7rem;
    font-weight: 700;

}

/* Imagen principal */
#code-img {
    min-width: 20vh;
    margin-left: 3rem;
}


