/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@400;700&family=Playfair+Display&family=Raleway:wght@500&display=swap');

/* Reset estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Estilo globales */
body {
    font-family: "Nunito";
    font-size: 18px;
    background-color: #e5e5e5b0;
    /* margin: 0 6rem; */
}

h1 {
    font-family: "Playfair Display";
    font-size: 2.7rem;
    font-weight: 700;

}
p {
    color: #828282;
    margin: 1.1rem 0;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
} 
a:visited {color:black} 
a:active {color:#FDC435;} 
a:hover {color:white;} 



/* HEADER */
header {
    font-family: "Comfortaa";
    position: relative;
}
header > img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;

}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;

}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

nav > h2 {
    font-weight: 700;
    font-size: 1.4rem;
}

nav > h2 a:hover {
    color: black;
}

nav >ul >li> a:hover {
    text-decoration: underline;
    color:white;
}

/* MAIN */
main {
    width: 90vw;
    margin: auto;
}
/* Imagen principal */
#code-img {
    width: 70vh;
    min-width: 20vh;
    margin-left: 3rem;
    box-shadow: 28px 10px 15px -3px rgba(0,0,0,0.1);

}
#presentacion {
    display: flex;
    align-items: center;
}
#presentacion > article {
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

main>section > article:nth-child(even){
    /* border: solid red 1px; */
    flex-direction: row;
    
}


#presentacion h2 {
    color: #FDC435;
    font-size: 1.1rem;
}
.btn {
    padding: 12px 14px;
    border-radius: 8px;

}

.projects {
    background-color: #FDC435;
    border: none;
}
.linkedin {
    background-color: none;
    border: 1px black solid;
}
.linkedin a:hover {
    color:#FDC435;
}

/* PROYECTOS */


#proyectos figure {
    width: 50vw;
    
}

#proyectos figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#proyectos>h2 {
    text-align: center;
    font-family: "Playfair Display";
    text-decoration: overline;
    text-decoration-color:#FDC435;

}

article {
    width: 70vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: row-reverse;

}

.bg-white {
    background-color: white;
}


#proyectos>article>div {
    width: 50vw;
    padding: 3rem;
}

.btn-proyecto {
    border: 1px solid black;
    border-radius: 24px;
    padding: 8px 24px;
    text-align: center;
    cursor: pointer;
}

.btn-proyecto:hover {
    color: #FDC435;
    border-color: #FDC435;
}


/* ABOUT.HTML */
#sobre-mi {
    display: flex;
    align-items: center;
}
#sobre-mi>article {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* padding: 2rem 2rem; */
}

.container-foto-perfil {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: #FDC435;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("https://res.cloudinary.com/drjyg98uv/image/upload/v1682098574/portfolio/angela-removebg-preview_celkhz-removebg-preview_srshya.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* FOOTER */
  footer>ul, small {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
  }

  .fa-brands, .fa-solid {
    font-size: 1.5rem;
  }
  
  footer {
    position: relative;
    height: 100%;
  }
  footer>img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;

  }



  




