/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@400;700&family=Playfair+Display&family=Raleway:wght@500&display=swap');

/* Reset estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Estilo globales */
body {
    font-family: "Nunito";
    font-size: 18px;
    margin: 0 6rem;
}
p {
    color: #828282;
    margin: 1.1rem 0;
}
header, main, footer {
    /* border: 1px solid red; */
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
} 
a:visited {color:black} 
a:active {color:#FDC435;} 
a:hover {color:#FDC435;} 



/* HEADER */
header {
    font-family: "Comfortaa";
    margin: 1.5rem 0;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;

}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

nav > h2 {
    font-weight: 700;
    font-size: 1.4rem;
}

nav > h2 a:hover {
    color: black;
}

nav >ul >li> a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    width: 90vw;
    margin: auto;
}
/* Imagen principal */
#code-img {
    min-width: 20vh;
    margin-left: 3rem;
}
#presentacion {
    display: flex;
    align-items: center;
}
#presentacion > article {
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

main>section > article:nth-child(even){
    /* border: solid red 1px; */
    flex-direction: row;
}


#presentacion h2 {
    color: #FDC435;
    font-size: 1.1rem;
}
#presentacion h1 {
    font-family: "Playfair Display";
    font-size: 2.7rem;
    font-weight: 700;

}

#proyectos {
    margin:3rem 0;
}

#proyectos figure>img {
    width: 400px;
}

#proyectos>h2 {
    text-align: center;
    font-family: "Playfair Display";
    text-decoration: overline;
    text-decoration-color:#FDC435;

}

article {
    width: 70vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: row-reverse;
    

}


/* ABOUT.HTML */
#sobre-mi {
    display: flex;
    align-items: center;
}
#sobre-mi>article {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* padding: 2rem 2rem; */
}

.container-foto-perfil {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: #FDC435;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("https://res.cloudinary.com/drjyg98uv/image/upload/v1682098574/portfolio/angela-removebg-preview_celkhz-removebg-preview_srshya.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }




